<settings>

<category label="Filter">
	<setting label="custom filter name" type="text" id="filter"/>
	<setting label="include in name" type="text" id="name"/>
	<setting label="exclude in name" type="text" id="exclude"/>
	<setting label="rom" type="text" id="rom" />
	<setting label="start year" type="number" id="start" />
	<setting label="end year" type="number" id="end" />
	<setting label="clones" type="bool" id="clones" default="false"/>
	<setting label="manufacturer" type="text" id="manufacturer"/>
	<setting label="players" type="number" id="players" />
</category>

<category label="Paths">
	<setting label="mame program (mame.exe)" type="file" id="exe"/>
	<setting label="generate mame game list" type="action" action="XBMC.RunPlugin(plugin://script.games.play.mame/listxml)"/>
	<setting label="roms" type="folder" id="roms" source="auto" option=""/>
	<setting label="snaps" type="folder" id="snaps" source="auto" option=""/>
	<setting label="titles" type="folder" id="titles" source="auto" option=""/>
	<setting label="cabinets" type="folder" id="cabinets" source="auto" option=""/>
	<setting label="marquees" type="folder" id="marquees" source="auto" option=""/>
	<setting label="flyers" type="folder" id="flyers" source="auto" option=""/>
</category>


</settings>
